[project]
	description = A repository to test the concourse pipeline
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AlLau
[access "refs/for/refs/*"]
	read = group user/AlLau
	push = group user/AlLau
	label-Code-Review = -2..+2 group user/AlLau
	label-Verified = -1..+1 group user/AlLau
	rebase = group user/AlLau
	removeReviewer = group user/AlLau
	submit = group user/AlLau
[access "refs/heads/*"]
	read = group user/AlLau
	create = group user/AlLau
	push = +force group user/AlLau
	pushMerge = group user/AlLau
[access "refs/tags/*"]
	push = group user/AlLau
	push = +force group user/AlLau
